body {
    margin: 10px auto;
    text-align: center;
}
.thumbnail {
    width: 125px;
    height: 83px;
    opacity: 0.5;
    cursor: pointer;
}
.current {
    opacity: 1.0;
}
.thumbnail + .thumbnail {
    margin-left: 4px;
}
